In [2]:
import pandas as pd

In [3]:
name_mon=["Temple Mount","Pyramids of Giza","Chichen Itza","Moai Statues","The Colosseum","The Great Wall of China","Angkor Wat","Petra","Taj Mahal","Machu Picchu"]
location_mon=["31.7781° N, 35.2360° E","29.9773° N, 31.1325° E","20.6843° N, 88.5678° W","-27.104671, -109.360481","41.8902° N, 12.4922° E","40.4319° N, 116.5704° E","13.4125° N, 103.8670° E","30.3285° N, 35.4444° E","27.1751° N, 78.0421° E","13.1631° S, 72.5450° W"]
monuments=pd.DataFrame({
    "Monuments":name_mon,
    "Location":location_mon
})

In [4]:
monuments

                 Monuments                 Location
0             Temple Mount   31.7781° N, 35.2360° E
1         Pyramids of Giza   29.9773° N, 31.1325° E
2             Chichen Itza   20.6843° N, 88.5678° W
3             Moai Statues  -27.104671, -109.360481
4            The Colosseum   41.8902° N, 12.4922° E
5  The Great Wall of China  40.4319° N, 116.5704° E
6               Angkor Wat  13.4125° N, 103.8670° E
7                    Petra   30.3285° N, 35.4444° E
8                Taj Mahal   27.1751° N, 78.0421° E
9             Machu Picchu   13.1631° S, 72.5450° W

In [5]:
monuments.to_csv("monuments.csv")